* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #00D4FF;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(33, 33, 41, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title {
    margin: 50px auto 0px;
}

.search {
    width: 200px;
    height: 35px;
    padding: 0px 15px;
    font-size: 15px;
    border: 3px solid white;
    outline: none;
    border-radius: 15px;
}

.search:focus {
    border: 3px solid green;
    color: green;
}