body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

.search {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 250px;
  color: red;
  text-transform: capitalize;
  border: 3px solid red;
  outline: none;
}

.search:focus {
    border: 3px solid green;
    color: green;
}

.card {
  background: #222;
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  color: rgb(73, 226, 73);
}